<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504535178742-sfbv6t6454kedrdk3hjkce5n0m56ng8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504535178742-sfbv6t6454kedrdk3hjkce5n0m56ng8n</string>
	<key>API_KEY</key>
	<string>AIzaSyBLRWKlB3r_mVOC0xZPgtuzQQHkNWbfSqE</string>
	<key>GCM_SENDER_ID</key>
	<string>504535178742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.babas.clocking</string>
	<key>PROJECT_ID</key>
	<string>babas-app-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>babas-app-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504535178742:ios:ce3229271944d6b69f3bd7</string>
</dict>
</plist>